body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(jonathan-bean-sbZU1j31ggE-unsplash.jpg);
    background-size: 120%;
}

.align{
    position: fixed;
    top: 22px;
    right: 10px;
    height: 100%;
    align-items: center;
    justify-content: first baseline;
    flex-direction: column;
    padding-bottom: 8px;
}


.switch{
	width: 100%;
	display: flex;
	height: 45px;
}

.switch a{
	height: 100%;
	padding: 0 28px;
	display: fixed;
	align-items: center;
	justify-content: center;
    text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	font-size: 20px;
	font-weight: 700;
}

.switch .selected {
	position: relative;
	color: #c2afd4;
	font-weight: 700;
}

.switch .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #c2afd4;
	border-radius: 99px 99px 0 0;
}


.box{
    box-sizing: border-box;
    width: 396px;
    max-height: 448px;
    padding: 30px;
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    transform: translate(-50%, -50%);

}


.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #c2afd4;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 270px;
    border-color: #c2afd4;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #c2afd4;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #7B68EE;
}


.checkbox {
	display: inline-block;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkbox span {
	display: inline-block;
	align-items: center;
	color: rgb(110,110,110);
	font-size: 12px;
	user-select: none;
}

.checkbox input {
	width: 10px;
	height: 10px;
	margin-right: 0;
}


@media (max-width: 575.98px) {
    body{
        background-size: 270%;
    }

    button{
        width: 100px;
    }
}


@media (max-width: 767.98px) {
    body{
        background-size: 330%;
    }
    
    button{
        width: 150px;
    }
}


@media (max-width: 991.98px) { 
    body{
        background-size: 340%;
    }
   
    button{
        width: 180px;
    }
}


